html {
	height: 100%;
}

#page-container {
  position: relative;
  min-height: 150vh;
  width: 100%;
}

#content-wrap {
  padding-bottom: 6rem;
	width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;

  text-align: center;
  background-color: #000000;
  color: white;
}

body {
	background-color: #263238;
	height: 100%;
	margin: 0;
}

main {
	margin: 0;
	font-family: Georgia, serif;
	line-height: 2;
	background-size: cover;
	overflow: auto;
	padding-bottom: 180px;
}

ul {
	padding: 0;
}

p {
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

a {
	display: block;
	color: #778899;
}

a:link {
  color: #475dff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {

  color: #c48cff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

ul.header_l li.header_l {
	font: Courier;
	font-size: 20px;
	list-style-type: none;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}

li.header_f {
	font: Courier;
	font-size: 20px;
	list-style-type: none;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}

ul.footer_1 li.footer_1 {
	font: Courier;
	font-size: 16px;
	list-style-type: none;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
    text-align: center;
}

a.a_click:link, a.a_click:visited {
	color: #FFFFFF;
  	text-decoration: none;
	display: inline-block;
}

/* Cool text holder thing. I love my work. :P */

#textholder p {
  color: #000000;
  font-family: serif;
  line-height: 1.2;
  display: inline;
	text-indent: 3ch;
}

#textholder h1 {
  color: #000000;
  font-family: serif;
  line-height: 1.2;
  display: inline;
}

#textholder h2 {
  color: #000000;
  font-family: serif;
  line-height: 1.2;
  display: inline;
}

#textholder h3 {
  color: #000000;
  font-family: serif;
  line-height: 1.2;
  display: inline;
}

#textholder a {
	font-family: serif;
  line-height: 1.2;
  display: inline;
}

#textholder li {
position: relative;
  left: 15px;
  display: inline;
}

#textholder {
  background-color: #FFFFFF;
  margin: auto;
  width: 94%;
  padding: 10px;
  border-style: inset;
}
